<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>JDictionary</title>
  
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "main" %>

  <%= javascript_include_tag :defaults %>
  <%= active_scaffold_includes %>
  <%= stylesheet_link_tag 'active_scaffold_overrides' %> 
</head>
<body>

<%= yield  %>

</body>
</html>
